html {
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

body {
  background-color: #efefef;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}


ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover {
  background-color: #111;
}